 @font-face {
    font-family: AachenBTRoman; /* Гарнитура шрифта */
    src: url(../fonts/AachenBTRoman.ttf); /* Путь к файлу со шрифтом */

}

/*body*/
body{
    margin: 0;
    font-family: AachenBTRoman, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}

 *,
 *:before,
 *:after{
     box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }

 /* Container */
 .container {
     width: 100%;
     max-width: 1300px;
     height: auto;
     margin: 0 auto;
     padding: 0 ;
 }

 .page{
     overflow: hidden;
 }


 /* Intro */

 .intro {

     width: 100%;
     height: 100vh;
     min-height: 852px;
     position: relative;


     background: url("../img/intro/eat.png") center no-repeat;
     -webkit-background-size: cover;
     background-size: cover;

     display: flex;
     flex-direction: column;
     justify-content: center;
 }
.intro_back{
    position: relative;

    background: #28282d;
    opacity: 95%;
    width: 100%;
    height: 100vh;
    min-height: 852px;
}

 .intro_box{
     width: 100%;
     /*max-width: 1224px;*/

     display: flex;
     flex-wrap: wrap;
     margin-top: 240px;

 }

 .intro_inner{
     width: 50%;
     height: auto;
     /*padding: 0 40px;*/

 }

 .intro_content{
     padding: 0 40px;
     margin-top: 40px;
 }




 .intro_img{
     display: block;
     /*max-width:100%;*/
     height: auto;
 }
 .intro_title{
     font-size: 67px;
     color: #e58f00;
     line-height: 1.2;
     letter-spacing: 2px;
     font-weight: lighter;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */

 }
 .intro_text{
     font-size: 25px;
     color: #ffffff;
     line-height: 1.2;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */

     margin-bottom: 50px;
 }
/*Button*/
 .btm{
     font-family: AachenBTRoman,sans-serif;
     font-size: 25px;
     color: #28282d;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
     text-decoration: none;
     padding: 20px 35px;
     background-color: #e58f00;
     border-radius: 5px;

     cursor: pointer;
     transition: color 0.5s linear;

 }
 .btm:hover{
    color: #ffffff;
 }

 /*Header*/
.header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}
 .header.fixed{
     padding: 0;
     background: #1d1d23;
     max-height: 100px;
     position: fixed;
     top: 0;
     right: 0;
     left: 0;

     transform: translate3d(0,0,0);

     /*transition: 0.9s linear;*/
     box-shadow: 0 3px 10px rgba(0,0,0,0.2);
 }

 .header.active{
     background: #ffffff;
 }
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
display: none;
}

.header_logo_img{
    margin: 9px 16px;
}

/*Nav*/
.nav{
    text-transform: uppercase;
    font-weight: bold;

}
.nav_link{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 30px 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.2;
    transition: color .2s linear;
    text-decoration: none;
}
.nav_link:first-child{
    padding-left:0;
}

 /*.nav_link:after{*/
     /*content: '';*/
     /*display: block;*/
     /*width: 100%;*/
     /*height: 3px;*/
     /*opacity: 0;*/

     /*background-color: #ffffff;*/
     /*transition: opacity .2s linear;*/


     /*position: absolute;*/
     /*top: 100%;*/
     /*left: 0;*/
     /*z-index: 1;*/
 /*}*/
 /*.nav_link:hover:after{*/
     /*opacity: 1;*/

 /*}*/
.nav_link:hover{
    color: #e9a438;
}
 .nav_toggle{
     width: 30px;
     padding: 10px 0;
     display: none;

     font-size: 0;
     color: transparent;

     border: 0;
     background: none;
     cursor: pointer;

     position: absolute;
     top: 24px;
     right: 24px;
     z-index: 1;
 }
 .nav-toggle:focus {
     outline: 0;
 }

 .nav_toggle_item{
     display: block;
     width: 100%;
     height: 3px;
     background-color: #ffffff;

     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;

     transition: background-color .2s linear;


 }

 .nav_toggle.active .nav_toggle_item{
     background: none;
 }

 .nav_toggle_item:before,
 .nav_toggle_item:after{
     content: '';
     width: 100%;
     height: 3px;
     border: none;
     background-color: #ffffff;
     position: absolute;
     left: 0;
     z-index: 1;
     transition: transform .2s linear;
 }

 .nav_toggle_item:before{
     top: -8px;

 }
 .nav_toggle_item:after{
     bottom: -8px;
 }

 .nav_toggle.active .nav_toggle_item:before{
     transform-origin: left top ;
     transform: rotate(45deg) translate3d(0px,-2px,0px);
 }

 .nav_toggle.active .nav_toggle_item:after{
     transform-origin:left bottom;
     transform: rotate(-45deg) translate3d(0px,3px,0px);
 }



 .logo {
     margin: -31px 150px 0 150px;
 }

.section{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #1d1d23;
}


.section_enjoy{
    max-width: 100%;
    /*max-width: 1440px;*/
    /*max-height: 960px;*/

    background: url(../img/enjoy/1.png) center no-repeat;
    /*background-size: cover;*/
    margin: 70px 0;

}

.section_footer{
    background: url("../img/footer/1.png")center no-repeat ;
    margin: 70px 0;
}


.section_img{
    max-width: 100%;
}

 .section_img:hover{
     background-color: #e58f00;
 }

.section_inner{
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    margin: 44px 15px;
    padding-bottom: 74px;
    position: relative;

}
.section_block{
    width: 50%;
    padding-left: 50px;
    position: relative;

}
.section_block--2{
    width: 50%;
    padding-left: 50px;
    position: absolute;
    top: 279px;

}



.section_title{
    font-size: 50px;
    color: #ffffff;
    padding-top: 100px;
}

.section_title_2{
   padding: 0;

}


 .section_text{
     font-size: 33px;
     color: #ffffff;
     line-height: 1.3;
 }


 .section--section_food{
     background: url("../img/food/orange.png")center  no-repeat ;
     /*-webkit-background-size:contain;*/
     /*background-size: cover;*/
/*display: flex;*/
     /*flex-flow: row wrap;*/


 }



 .section_waffle {

     max-width: 791px;
     max-height: 791px;
     position: absolute;
     top: -127px;
     right: -82px;
     z-index: 1;
 }


 .section_eggs{
     max-width: 895px;
     max-height: 1035px;
     /* position: fixed; */
     /* top: 82px; */
     order: 999;
     margin-left: 485px;
     margin-top: 709px;

}

.section_berries{
  order: 999;
  margin-right: auto;
  margin-left: -85px;

    MARGIN-TOP: -644PX;

}

/*Gallery*/

 .titles{
     font-size: 50px;
     text-align: center;
 }
.gallery_img{
    padding-right: 20px;
    padding-bottom: 15px;
}

.gallery_img:last-child{
    padding-right: 0;
}

/*enjoy*/

 .enjoy_inner {
     /*background-image: url("../img/enjoy/1.png");*/
     /*!*background-size: cover;*!*/
     /*-webkit-background-size: cover;*/
     /*!*text-align: center;*!*/
     /*margin: 14px auto;*/
     max-width: 729px;
     max-height: 580px;
     margin: auto;

     border: 10px #e58f00 solid;
 }

 .enjoy_content{
    text-align: center;
  /*order: 999;*/
     margin: auto;

     padding-top: 83px;
     padding-right: 87px;
     padding-bottom: 73px;
     padding-left: 87px;
 }

 /*Menu*/
.menu{
    display: flex;
    justify-content: space-between;
}
 .menu_items{
     max-width: 423px;
     max-height: 590px;

 }

 .menu_name{
     padding-top: 18px;
     padding-bottom: 4px;
     font-size: 30px;
     color: #e58f00;
     /*text-align: center;*/
 }

 .menu_text{
     font-size: 17px;
 }

 .menu_price{
     font-size: 25px;
     color: #e58f00;

     padding-top: 10px;
 }

 /*Footer*/

 .footer{
/*position: relative;*/
     display: flex;
     justify-content: space-between;

 }

 .section_block_2{
     max-width: 555px;
     max-height: 282px;
     padding-top:75px ;
     padding-right: 42px;
 }

 .footer_logo{
    margin-bottom: 60px;

 }

 .footer_logo img{
   max-width: 100%;
 }


 .footer_image{
    max-width: 635px;
     max-height: 636px;
     justify-content: left;
 }

 .footer_image img{
     margin-left: -70px;
     max-width: 100%;
 }

 .footer_in{
     text-align: center;
 }

 .footer_navi{
     text-transform: uppercase;
     font-size: 28px;


 }

 .footer_navi_links{
     padding-right: 45px;
     text-decoration: none;
     color: #ffffff;

 }

 .socials{
     /* max-width: 331px; */
     /* max-height: 66px; */
     display: inline-block;
     /* justify-content: center; */
     margin-left: 95px;
     margin-top: 27px;
 }
 .social_item{
     max-width: 58px;
     max-height: 43px;

     color: #ffffff;
     font-size: 50px;
     text-decoration: none;
     padding-right: 20px;


 }

/*Media*/

 @media (min-width: 1673px) {
     .nav_link{
         margin: 20px 10px;
         font-size: 19px;
     }


 }

 @media (max-width: 1396px){
     .nav_link{
         margin: 20px 10px;
         font-size: 19px;
     }


 }
 @media (max-width: 1330px){
     .nav_link{
         margin: 18px 17px;
         font-size: 19px;
     }


 }
 @media (max-width: 1291px){
     .nav_link{
         margin: 15px 12px;
         font-size: 19px;
     }


 }

 @media (max-width: 1271px){

     .gallery{
         display: flex;
         justify-content: center;
         text-align: center;
     }

     .gallery_img {
         width: auto;
         padding: 2px 2px;
         flex: 1 1 0;
      }


     .gallery_columns{
         display: block;
     }


     .menu_items {
         /* max-width: 423px; */
         /* max-height: 590px; */
         /* width: auto; */
         /* flex: 1 1 0; */
         max-width: 100%;
         /* padding: 0 8px; */
         text-align: center;
         margin-bottom: 5px;
     }

     .menu {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;

     }

     .menu_text {
         font-size: 19px;
         /* padding-left: 53px; */
         max-width: 50%;
         margin: 0 auto;
     }

     .menu_items img{
         max-width: 100%;
     }
 }



 @media (max-width: 1209px){
     .header_logo{
         display: block;
     }

     .nav.active{
         display: block;
     }
     .nav{
     display: none;
     width: 100%;
     position: absolute;
     top: 100%;
     left: 0;

     background-color: #e58f00;
         opacity: 0.9;

     }
     #logo{
         display: none;
     }


     .nav_link{
       display: block;
       margin: 0;
       padding: 9px 32px;
     }
     .nav_link:hover{
         color: #1d1d23;
         transition: color 0.1s linear;
     }

     .nav_link:first-child{
         padding-left: 32px;
     }


     .nav_toggle{
       display: block;
       top: 23px;
       right: 27px;
     }
     button,
     button:active,
     button:focus {
     outline: none;
     }

     .intro_title {
         font-size: 57px;

     }
     .intro_text {
         font-size: 21px;
     }

     .intro_inner {
         flex: 1 1 0;

     }
     .intro_box {
         /* width: 100%; */
         /* max-width: 1224px; */
         display: flex;
         /* flex-wrap: wrap; */
         margin-top: 106px;
     }
     .gallery{
         display: flex;
         justify-content: center;
         text-align: center;
     }

     .section {
         padding-top: 15px;
         padding-bottom: 15px;
     }

 }

 @media (max-width: 1179px){
    #intro_1{
       display: none;
    }

     #intro_2{
         width: 100%;
         max-width: 700px;
     }

     .intro_box{
         margin-top: 205px;
     }
     .section_title {
         font-size: 39px;
     }
     .section_text {
         font-size: 23px;
     }

     .titles {
         font-size: 39px;
     }
 }

 @media (max-width: 915px){
   #page_3{
     display: none;
   }

   .section_title{
     padding-top: 0;
   }

   .footer_navi {
     font-size: 19px;
   }
   .footer_logo {
     margin-bottom: 26px;
   }
   .social_item {
     font-size: 38px;
   }
 }

 @media (max-width: 748px){
   .section_title {
     font-size: 32px;
   }
   .section_text {
     font-size: 17px;
   }
   .titles {
     font-size: 32px;
   }
   .menu_items{
     margin-bottom: 30px;
   }

 }
 @media (max-width: 681px){
   .menu_items {
     margin-bottom: 80px;
   }
   .footer_navi {
     font-size: 15px;
   }

   .footer_navi_links {
     padding-right: 35px;
   }

   .social_item {
     font-size: 30px;
   }

 }

 @media (max-width: 594px){
   .footer_navi{
     display: none;
   }

   .gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
   }
   .gallery_img {
     /* padding-right: 20px; */
     padding-bottom: 15px;
   }

   .section_block_2 {

     padding-top: 47px;

   }
 }

 @media (max-width: 491px){
   #section_img{
     display: none;
   }
   .section_block {
      width: 100%;
      padding-left: 0;
     position: relative;
     text-align: center;
   }

   .menu {
     justify-content: center;
   }
   .menu_text{
     display: none;
   }

   .footer_image{
     display: none;
   }

   .section_block_2 {
     text-align: center;
     padding-top: 20px;
   }

   .socials {

      margin-left: 0;
      margin-top: 0;
   }
 }

 @media (max-width: 487px) {
   .header_logo_img {
     margin: 17px 13px;
   }
   .intro_title {
     font-size: 44px;
   }
   .intro_text {
     font-size: 16px;
   }
   .btm{
     font-size: 16px;
   }
   .section_block_2 {
     text-align: center;
     padding-top: 17px;
     padding-right: 0;
     padding-bottom: 17px;
   }
 }

 @media (max-width: 401px){
   .intro_title {
     font-size: 33px;
   }
   .intro_text {
     font-size: 12px;
   }
   .btm{
     padding: 10px 12px;
   }

 }

 @media (max-width: 328px){
   .intro_title {
     font-size: 25px;
   }
   .intro_text {
     font-size: 10px;
   }
   .btm {
     font-size: 14px;
     padding: 8px 10px;
   }
 }

 @media (max-width: 366px){
     .intro_title {
         font-size: 26px;
     }
     .intro_text {
         font-size: 9px;
         margin-bottom: 27px;
     }
     .btm {
         font-size: 13px;
         padding: 8px 10px;
     }
     .section_title {
         font-size: 23px;
     }
     .section_text {
         font-size: 13px;
     }
     .section_inner{
         padding-bottom: 0;
     }
     .titles {
         font-size: 23px;
     }
     .enjoy_content {
         text-align: center;
         margin: auto;
         padding: 2px 2px;
     }
     .menu_name{
         font-size: 20px;
     }
     .menu_price{
         font-size: 19px;
     }
     .footer_logo{
         display: none;
     }
 }