 @font-face {
    font-family: AachenBTRoman; /* Гарнитура шрифта */
    src: url(../fonts/AachenBTRoman.ttf); /* Путь к файлу со шрифтом */

}

/*body*/
body{
    margin: 0;
    font-family: AachenBTRoman, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}

 *,
 *:before,
 *:after{
     box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }

 /* Container */
 .container {
     width: 100%;
     max-width: 1300px;
     height: auto;
     margin: 0 auto;
     padding: 0 ;
 }

 /* Intro */

 .intro {

     width: 100%;
     height: 100vh;
     min-height: 852px;
     position: relative;


     background: url("../img/intro/eat.png") center no-repeat;
     -webkit-background-size: cover;
     background-size: cover;

     display: flex;
     flex-direction: column;
     justify-content: center;
 }
.intro_back{
    position: relative;

    background: #28282d;
    opacity: 95%;
    width: 100%;
    height: 100vh;
    min-height: 852px;
}

 .intro_box{
     width: 100%;
     /*max-width: 1224px;*/

     display: flex;
     flex-wrap: wrap;
     margin-top: 240px;

 }

 .intro_inner{
     width: 50%;
     height: auto;
     /*padding: 0 40px;*/

 }

 .intro_content{
     padding: 0 40px;
     margin-top: 40px;
 }




 .intro_img{
     display: block;
     /*max-width:100%;*/
     height: auto;
 }
 .intro_title{
     font-size: 66.67px;
     color: #e58f00;
     line-height: 1.2;
     letter-spacing: 2px;
     font-weight: lighter;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */

 }
 .intro_text{
     font-size: 25px;
     color: #ffffff;
     line-height: 1.2;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */

     margin-bottom: 50px;
 }
/*Button*/
 .btm{
     font-family: AachenBTRoman,sans-serif;
     font-size: 25px;
     color: #28282d;

     text-shadow:-1px -1px 1px rgba(255,255,255,0.2), /* наверх и влево */
     1px 1px 1px rgba(255,255,255,0.2), /* вниз и вправо */
     1px 1px 1px rgba(0,0,0,0.7); /* тёмная тень */
     text-decoration: none;
     padding: 20px 35px;
     background-color: #e58f00;
     border-radius: 5px;

     cursor: pointer;
     transition: color 0.5s linear;

 }
 .btm:hover{
    color: #ffffff;
 }

 /*Header*/
.header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

/*Nav*/
.nav{
    text-transform: uppercase;
    font-weight: bold;


}
.nav_link{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 30px 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    line-height: 1.2;
    transition: color .2s linear;
    text-decoration: none;
}
.nav_link:first-child{
    padding-left:0;
}

.nav_link:hover{
    color: #e9a438;
}

.logo{
     margin: -20px 150px 0 150px;
 }

.section{
    padding-top: 100px;
    background-color: #1d1d23;
}
.section_img{
    width: 100%;
    height: 100%;
    max-width: 646px;
    max-height: 645px;
}

 .section_img:hover{
     background-color: #e58f00;
 }

.section_inner{
    /*width: 100%;*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 15px;
    padding-bottom: 74px;
    position: relative;

}
.section_block{
    width: 50%;
    padding-left: 50px;
}

.section_title{
    font-size: 50px;
    color: #ffffff;
    padding-top: 100px;
}

 .section_text{
     font-size: 33px;
     color: #ffffff;
     line-height: 1.3;
 }

 .section--section_food{
     background: url("../img/food/orange.png")  no-repeat ;
     /*background-size: cover;*/
/*display: flex;*/
     /*flex-flow: row wrap;*/


 }



 .section_waffle {
     max-width: 791px;
     max-height: 791px;
     position: absolute;
     top: 0;
     right: -90px;
     z-index: 1;
 }


 .section_eggs{
     max-width: 895px;
     max-height: 1035px;
     /*!*position: absolute;*!*/
     /*order: 999;*/
     /*margin-left: 485px;*/
     /*margin-top: 0;*/
     /*margin-bottom: -80px;*/
 }

 .section_berries{
     order: 999;
     margin-right: auto;
     margin-left: -85px;

     MARGIN-TOP: -350PX;

 }

